<%= form_for(@pessoa_fisica) do |f| %>
  <% if @pessoa_fisica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pessoa_fisica.errors.count, "error") %> prohibited this pessoa_fisica from being saved:</h2>

      <ul>
      <% @pessoa_fisica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :data_de_nascimento %><br>
    <%= f.date_select :data_de_nascimento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
